@charset "UTF-8";
/* CSS Document */
/*--------------------------------------
 資料アーカイブ
---------------------------------------*/
@media screen and (min-width: 46.0625em) {
  .archiveBox .carList {
    display: flex;
    flex-wrap: wrap; } }
.archiveBox .carList > li {
  margin-bottom: 50px;
  text-align: center; }
  @media screen and (min-width: 46.0625em) {
    .archiveBox .carList > li {
      width: 33.3334%;
      overflow: hidden; }
      .archiveBox .carList > li:nth-child(1):after, .archiveBox .carList > li:nth-child(2):after, .archiveBox .carList > li:nth-child(3):after {
        bottom: 10px; }
      .archiveBox .carList > li:nth-child(4):after, .archiveBox .carList > li:nth-child(5):after, .archiveBox .carList > li:nth-child(6):after {
        bottom: 12px; }
      .archiveBox .carList > li:nth-child(7):after, .archiveBox .carList > li:nth-child(8):after, .archiveBox .carList > li:nth-child(9):after {
        bottom: 12px; }
      .archiveBox .carList > li:nth-child(10):after, .archiveBox .carList > li:nth-child(11):after, .archiveBox .carList > li:nth-child(12):after {
        bottom: 9px; }
      .archiveBox .carList > li:nth-child(13):after, .archiveBox .carList > li:nth-child(14):after, .archiveBox .carList > li:nth-child(15):after {
        bottom: 7px; }
      .archiveBox .carList > li.impr figure {
        top: 4px; }
      .archiveBox .carList > li.cros figure {
        top: 4px; }
      .archiveBox .carList > li.fore figure {
        top: 0px; }
      .archiveBox .carList > li.lega figure {
        top: 6px; }
      .archiveBox .carList > li.solt figure {
        top: 0px; }
      .archiveBox .carList > li.levo figure {
        top: 0px; }
      .archiveBox .carList > li.wrx figure {
        top: 6px; }
      .archiveBox .carList > li.brz figure {
        top: 9px; }
      .archiveBox .carList > li.just figure {
        top: 0px; }
      .archiveBox .carList > li.chif figure {
        top: 2px; }
      .archiveBox .carList > li.stel figure {
        top: 0px; }
      .archiveBox .carList > li.pleo figure {
        top: 4px; }
      .archiveBox .carList > li.rex figure {
        top: 6px; }
      .archiveBox .carList > li.samb figure {
        top: 0px; }
      .archiveBox .carList > li.past figure {
        top: 12px; } }
  .archiveBox .carList > li > a {
    display: block;
    transition: opacity 0.3s; }
    .archiveBox .carList > li > a:not([disabled]):hover {
      opacity: 0.5; }
  .archiveBox .carList > li h3 {
    height: 60px; }
    .archiveBox .carList > li h3 svg {
      height: 100%; }
      @media screen and (min-width: 46.0625em) {
        .archiveBox .carList > li h3 svg {
          width: 100%; } }
      @media screen and (max-width: 46em) {
        .archiveBox .carList > li h3 svg {
          width: 345px; } }
  .archiveBox .carList > li figure {
    position: relative; }
    .archiveBox .carList > li figure img {
      max-height: 110px; }
  .archiveBox .carList > li.past h3 {
    height: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
.archiveBox .txtToRegi a {
  text-decoration: underline; }
  .archiveBox .txtToRegi a:hover {
    text-decoration: none; }

/*--------------------------------------
 確認モーダル
---------------------------------------*/
.confModal {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9001;
  transition: 0.3s; }
  .confModal.show {
    visibility: visible;
    opacity: 1; }
  .confModal .in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .confModal .kiyakuBox {
    background-color: #fff; }
    @media screen and (min-width: 46.0625em) {
      .confModal .kiyakuBox {
        width: 600px; } }
    @media screen and (max-width: 46em) {
      .confModal .kiyakuBox {
        width: 90.625vw; } }
    .confModal .kiyakuBox h2 {
      background-color: #666;
      padding: 15px;
      color: #fff; }
    .confModal .kiyakuBox .txt {
      background-color: #eee;
      padding: 20px 15px; }
    .confModal .kiyakuBox .btnBox {
      padding: 15px; }
      @media screen and (min-width: 46.0625em) {
        .confModal .kiyakuBox .btnBox {
          display: flex;
          justify-content: center;
          align-items: center; } }
      .confModal .kiyakuBox .btnBox a {
        display: block;
        margin: 0 5px;
        border: 1px solid #000; }
        @media screen and (min-width: 46.0625em) {
          .confModal .kiyakuBox .btnBox a {
            width: 195px; } }
        @media screen and (max-width: 46em) {
          .confModal .kiyakuBox .btnBox a + a {
            margin-top: 10px; } }

/*--------------------------------------
 box画面
---------------------------------------*/
.dlBox header {
  margin-bottom: 20px; }
  @media screen and (min-width: 46.0625em) {
    .dlBox header {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 46em) {
    .dlBox header {
      text-align: center; } }
  @media screen and (min-width: 46.0625em) {
    .dlBox header h3 {
      width: 400px; } }
  @media screen and (max-width: 46em) {
    .dlBox header h3 {
      height: 80px;
      overflow: hidden; } }
  .dlBox header h3 svg {
    width: 100%; }
    @media screen and (max-width: 46em) {
      .dlBox header h3 svg {
        max-width: 345px;
        height: 100%;
        position: relative; } }
  @media screen and (min-width: 46.0625em) {
    .dlBox header h3 img {
      width: 320px; } }
  @media screen and (max-width: 46em) {
    .dlBox header h3 img {
      width: 100%;
      max-width: 345px;
      height: auto;
      position: relative; } }
  @media screen and (min-width: 46.0625em) {
    .dlBox header figure img {
      width: 500px; } }
  @media screen and (max-width: 46em) {
    .dlBox header figure img {
      width: 100%;
      max-width: 345px; } }
  @media screen and (min-width: 46.0625em) {
    .dlBox header.onlyTxt {
      display: block; } }
  @media screen and (max-width: 46em) {
    .dlBox header.onlyTxt {
      text-align: left; } }
  @media screen and (min-width: 46.0625em) {
    .dlBox header.onlyTxt h3 {
      width: 100%; } }
  @media screen and (max-width: 46em) {
    .dlBox header.onlyTxt h3 {
      height: auto; } }
.dlBox .txt1 {
  margin-bottom: 20px; }
.dlBox .frameWrap iframe {
  display: block;
  width: 100%; }
  @media screen and (max-width: 46em) {
    .dlBox .frameWrap iframe {
      height: 300px; } }
.dlBox .frameWrap + h4 {
  margin-top: 50px; }
@media screen and (max-width: 46em) {
  .dlBox.is_brz header h3 svg {
    height: 140%;
    top: -10px; } }
@media screen and (max-width: 46em) {
  .dlBox.is_levo header h3 svg {
    height: 130%;
    left: 10px; } }
@media screen and (max-width: 46em) {
  .dlBox.is_pleo header h3 img {
    width: 260px;
    top: -20px; } }
@media screen and (max-width: 46em) {
  .dlBox.is_samb header h3 svg {
    height: 130%;
    top: -10px; } }
@media screen and (max-width: 46em) {
  .dlBox.is_stel header h3 img {
    width: 260px;
    top: -10px; } }
@media screen and (max-width: 46em) {
  .dlBox.is_wrx header h3 svg {
    height: 140%;
    top: -10px; } }

/*# sourceMappingURL=cojp1507.css.map */
